@{
    ViewData["Title"] = "About";
}
<div style="margin-top:70px">
    
    <h3>@ViewData["Title"]</h3>
    <hr>
    <h4 class="text-primary">
        &copy; Property Owners Association Manager - 2019
    </h4>
    <h5>

        Authors :  <a class="text-primary" href="https://github.com/PopDiana"> Diana Pop, </a>
        <a class="text-primary" href="https://github.com/OverHype98">  Andrei Gherghina </a>
    </h5>
    
</div>




